@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
$blue:#2E567A;
$blue2:#4D7E98;
$dark:#333333;
$deep:#0B5C85;
$btn-color:#01B7F5;
$title:#1B94D3;
$gray:#818181;
$purple:#F6F7FC;
$brown:#B87A0C;
$table-text:#5F5F5F;
$abnormal:#CD3B3B;
$custom:#735ABB;
$red-light:#FFE8E8;
$purple-light:#F0E8FF;
$select:#DFDFDF;
$select2:#787A87;
$btn:#E3F7FF;
$yellow-bg:rgba(255, 240, 213, 0.71);
$btn-active:linear-gradient(180deg, #59DEEF 0%, #32B5E6 100%);
$font-common:'Noto Sans TC', sans-serif;
$transition-common:0.3s;
$transition-second:0.5s ease-in-out;

body {
    color: $dark;
    font-family: $font-common;
    letter-spacing: 0.05em;
    background-color: #F4FCFF;
}

a {
    text-decoration: none;
    color: $dark;
    &:hover {
        text-decoration: none;
        color: $dark;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input {
    &::-webkit-outer-spin-button,&::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    &[type="number"] {
        -moz-appearance: none;
    }
}

select,input {
    height: 45px;
}

textarea,input,select {
    background-color: transparent;
    color: $dark;
    font-family: $font-common;
    letter-spacing: 0.05em;
    border: 0;
    outline: none;
    border: 1px solid $select;
    border-radius: 15px;
    padding: 5px 10px;
}

button {
    background-color: transparent;
    outline: none;
    border: 0;
}

main {
    min-height: calc(100vh - 65px - 104px);
    padding-top: 1.5rem;
}

.color {
    &-gray {
        color: $gray;
    }
    &-blue {
        color: $blue;
    }
    &-great {
        color:#21AC88;
    }
    &-normal {
        color: #FF8B03;
    }
    &-bad {
        color: #CD3B3B;
    }
}

.font {
    &-14 {
        font-size: 14px;
    }
    &-22 {
        font-size: 22px;
    }
}

.bg {
    &-btn {
        background-color: $btn-color;
    }
}

.mb {
    &-30 {
        margin-bottom: 30px;
    }
}

.cover-box {
    position: relative;
    &_img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.select-box-blueborder {
    border: 1px solid #7CDEFF;
    background-color: #fff;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.15);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../img/icon_arrow-lightblue-down.svg);
    background-position: calc(100% - 20px) center;
    background-size: 13px;
    background-repeat: no-repeat;
}

.btn {
    &-return {
        color: #fff;
        font-size: 14px;
        padding: 5px 13px;
        transition: $transition-common;
        border: 1px solid $btn-color;
        background-color: $btn-color;
        &:hover {
            color: $btn-color;
            background-color: transparent;
        }
    }
    &-common {
        padding: 7px 15px;
        border-radius: 15px;
        border: 1px solid $btn-color;
        display: flex;
        align-items: center;
        color: $btn-color;
        width: fit-content;
        &.btn {
            &-brown {
                border-color: $brown;
                color: $brown;
            }
        }
    }
    &-icon {
        img {
            width: 13px !important;
            margin-right: 5px;
        }
        span {
            font-size: 14px;
        }
    }
    &-round {
        padding: 10px 40px;
        border-radius: 100px;
    }
    &-bg {
        &-light {
            background-color: $btn;
            color: $title;
        }
        &-white {
            background-color: #fff;
            color: $dark;
        }
        &-blue {
            background-color: #79D8F9;
            color: #fff;
        }
    }
    &-big {
        width: 130px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    }
    &-medium {
        width: 100px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    }
    &-yellow {
        background-color: $yellow-bg;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
        border-radius: 13px;
        padding: 13px 23px;
        display: inline-flex;
        align-items: center;
        img {
            width: 18px;
            margin-right: 5px;
        }
        span {
            color: $brown;
            font-size: 14px;
        }
    }
}

.header {
    &-login {
        padding: 20px 40px;
    }
    &-page {
        height: 65px;
        width: 100%;
        position: relative;
        .back {
            position: absolute;
            width: 30px;
            height: 30px;
            top: 50%;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateY(-50%);
            img {
                width: 12px;
            }
        }
    }
}

.hr-common {
    border: 1px solid #EFEFEF;
    opacity: 1;
    margin: 20px 0;
}

.container {
    max-width: 768px;
    width: 100%;
    padding: 0 20px;
}

.box {
    &-common {
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        overflow: hidden;
        background-color: #fff;
        &_content {
            padding: 15px;
            border-radius: 20px;
        }
    }
    &_title {
        background: linear-gradient(180deg, #59DEEF 0%, #32B5E6 100%);
        border-radius: 20px 20px 0px 0px;
        padding: 10px 0;
        text-align: center;
        margin: 0;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
    }
}

.logo {
    &-login {
        width: 180px;
    }
    &-page {
        width: 150px;
        top: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

.menu {
    width: 25px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 80;
    .bar {
        width: 100%;
        background-color: $blue2;
        height: 2px;
        border-radius: 100px;
        position: absolute;
        left: 0;
        transition: $transition-second;
        &-top {
            top: 0;
        }
        &-middle {
            top: 50%;
            transform: translateY(-50%);
        }
        &-bottom {
            bottom: 0;
        }
    }
    &.active {
        .bar {
            &-top {
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%)rotate(45deg);
            }
            &-middle {
                opacity: 0;
            }
            &-bottom {
                bottom: 50%;
                left: 50%;
                transform: translate(-50%,50%)rotate(-45deg);
            }
        }
    }
}

.nav-main {
    position: fixed;
    max-width: 768px;
    width: 100%;
    height: 100vh;
    padding: 0 20px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,0.8);
    padding: 85px 20px 40px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    display: none;
    z-index: 70;
    ul {
        li {
            width: 100%;
            margin-bottom: 15px;
            a {
                text-align: center;
                width: 100%;
                display: block;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.login {
    &-bg {
        background-image: url(../img/login_bg.png);
        width: 100vw;
        height: 100vh;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &_text {
        padding: 130px 0 0 40px;
        h1 {
            font-size: calc(1.5rem + 1.5vw);
            color: $blue;
            margin: 0 0 50px;
            font-weight: 600;
        }
    }
    &_btn {
        width: 270px;
        height: 60px;
        padding: 0 30px;
        border-radius: 20px;
        border: 1px solid $blue;
        margin-bottom: 20px;
        transition: $transition-common;
        img {
            width: 30px;
            margin-right: 20px;
        }
        span {
            color: $blue;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            background-color: rgba(255, 255, 255, 0.35);
            border-color: transparent;
        }
        &-send {
            border-radius: 15px;
            padding: 10px 35px;
            border: 1px solid $blue;
            transition: $transition-common;
            &:hover {
                border-color: $title;
                color: $title;
            }
        }
        &-underline {
            text-decoration: underline;
            transition: $transition-common;
            &:hover {
                color: $title;
                text-decoration: underline;
            }
        }
    }
    &_input {
        &_content {
            margin-bottom: 50px;
            label {
                width: 100px;
                color: $blue;
            }
            input {
                width: 280px;
                border-bottom: 1px solid $blue;
                border-radius: 0;
                border-color: transparent transparent $blue transparent;
                &::placeholder {
                    color: #A2ABAF;
                }
            }
            #count {
                margin-left: 20px;
                color: $blue;
                font-weight: 300;
            }
        }
        &_bottom {
            width: 380px;
            a {
                color: $blue;
                font-size: 0.9375rem;
            }
        }
    }
}

.copyright {
    position: absolute;
    color: #fff;
    font-size: 0.875rem;
    right: 40px;
    bottom: 20px;
}

.tag {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    padding: 2px 0;
    font-size: 13px;
    &-abnormal {
        background-color: $abnormal;
    }
    &-custom {
        background-color: $custom;
    }
}

.case {
    &_content {
        h3 {
            width: calc(100% - 100px);
        }

    }
    &_btn {
        width: 100px;
        .icon_inform {
            width: 25px;
            transition: $transition-common;
            &:hover {
                path {
                    fill:$title;
                }
            }
        }
    }
    &_table {
        background-color: $purple;
        border-radius: 15px;
        padding: 10px 15px;
        &_title {
            padding-bottom: 10px;
            border-bottom: 1px solid #E6E7EF;
            margin-bottom: 10px;
            span {
                // font-size: 18px;
                color: $title;
                font-weight: 600;
            }
        }
        &_content {
            span {
                color: $table-text;
            }
        }
        &_item {
            width: calc(100% - 55px);
            &.state {
                display: flex;
                align-items: center;
                .icon_alert {
                    margin-right: 8px;
                    transform: translateY(2px);
                }
            }
            &.abnormal {
                .icon_alert {
                    path {
                        fill: $abnormal;
                    }
                }
                color: $abnormal;
            }
            &.custom {
                .icon_alert {
                    path {
                        fill: $custom;
                    }
                }
                color: $custom;
            }
        }
        &_num {
            width: 55px;
            text-align: center;
        }
    }
    &-abnormal {
        border: 2px solid $abnormal;
        box-shadow: 0px 1px 15px rgba(205, 58, 58, 0.3);
    }
    &-custom {
        border: 2px solid $custom;
        box-shadow: 0px 1px 15px rgba(121, 74, 214, 0.3);
    }
    &-state {
        .case {
            &_content {
                h3 {
                    width: calc(100% - 60px - 100px);
                    padding: 0 10px;
                }
            }
        }
        &_title {
            border-radius: 100px;
            padding: 6px 15px;
            font-weight: 600;
            margin-right: 10px;
            font-size: 14px;
            &.abnormal {
                color: $abnormal;
                background-color: $red-light;
            }
            &.custom {
                color: $custom;
                background-color: $purple-light;
            }
        }
        &_content {
            &.abnormal {
                color: $abnormal;
            }
            &.custom {
                color: $custom;
            }
        }
    }
    &-name {
        color: #4A4A4A;
        font-size: 32px;
        margin: 0 0 30px;
    }
}

.list {
    &_title {
        margin-right: 15px;
        img {
            width: 18px;
            margin-right: 8px;
        }
        h4 {
            margin: 0;
            font-size: 16px;
            color: $title;
        }
        &-second {
            font-size: 16px;
            margin: 0 15px 0 0;
            &.abnormal {
                color: $abnormal;
            }
            &.custom {
                color: $custom;
            }
        }
    }
    &_content {
        color: $gray;
        margin: 0;
        font-size: 15px;
        font-weight: 300;
    }
    &-common {
        position: relative;
        .contact {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 26px;
                height: 26px;
                border-radius: 50%;
                border: 1px solid $btn-color;
                margin-left: 9px;
                img {
                    width: 50%;
                }
            }
        }
        &.phone {
            .list_content {
                width: calc(100% - 93px - 15px - 60px);
            }
        }
        &.address {
            .list {
                &_title {
                    width: 100%;
                    margin-bottom: 5px;
                }
                &_content {
                    width: calc(100% - 36px);
                    padding-left: 23px;
                }
            }
            .contact {
                bottom: 0;
                top: inherit;
                transform: none;
            }
        }
        &.long-text {
            .list {
                &_title {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 5px;
                }
                &_content {
                    padding-left: 25px;
                    width: 100%;
                }
            }
        }
        &.contact-record {
            .list_title {
                width: 100%;
            }
            .contact-record {
                &_state {
                    background-color: $purple;
                    border-radius: 15px;
                    padding: 8px 17px;
                    margin-right: 20px;
                }

            }
        }
        &_second {
            width: 100%;
            margin-top: 5px;
            .receipt {
                width: 170px;
                padding-bottom: calc(170px * 0.62);
                border-radius: 20px;
                overflow: hidden;
                cursor: pointer;
            }
        }
    }
    &-price {
        .input-box {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 15px;
            label {
                width: 75px;
            }
            input {
                width: calc(100% - 75px);
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &-receipt-upload {
        .receipt {
            position: relative;
            background-color: $btn;
            .icon_plus {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
                background-color: #7ADDFF;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 11px;
                }
            }
            #receipt_pic {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: contain;
                top: 0;
                left: 0;
                opacity: 0;
            }
        }
        input {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
        }
        button {
            position: relative;
            margin-top: 10px;
            display: none;
        }
    }
    &-social {
        &_content {
            display: flex;
            flex-wrap: wrap;
            label {
                width: 95px;
            }
            .select {
                width: calc(100% - 95px);
            }
        }
    }
    &-make-time {
        width: 100%;
        display: flex;
        align-items: center;
        input {
            width: calc(100% - 75px);
        }
        span {
            width: 75px;
            text-align: right;
            display: block;
        }
    }
}

.pic {
    &_box {
        width: 100px;
        height: 100px;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        margin-bottom: 10px;
        margin-right: 10px;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &_mask {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.33);
    }
}

footer {
    background-color: #1C8EB9;
    padding: 15px;
    width: 100%;
    color: #fff;
    text-align: center;
    margin-top: 50px;
}

.modal {
    &-dialog {
        margin: 6rem auto;
    }
    &-content {
        border-radius: 25px;
        border: 0;
        padding: 15px 20px;
        position: relative;
    }
    &-header {
        // border: 0;
        padding: 0 0 10px;
        border-bottom: 1px solid #efefef;
        position: relative;
        justify-content: center;
    }
    &-title {
        color: $title;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
    }
    &-close {
        width: 25px;
        position: absolute;
        right: 0;
        top: 5px;
        padding: 0;
    }
    &-body {
        border: 0;
        padding: 20px 0 45px;
    }
    &-footer {
        border: 0;
        position: absolute;
        width: 100%;
        padding: 0;
        justify-content: center;
        top: calc(100% + 20px);
        left: 0;
    }
}

.select {
    &_item {
        border: 1px solid $select;
        border-radius: 15px;
        padding: 10px 15px;
        margin-bottom: 10px;
        cursor: pointer;
        transition: $transition-common;
        &:last-child {
            margin-bottom: 0;
        }
        img {
            width: 20px;
            transition: $transition-common;
            opacity: 0;
        }
        &.active {
            background: #000;
            background: $btn-active;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
            span {
                color: #fff;
            }
            img {
                opacity: 1;
            }
        }
        &.customize {
            padding: 0;
            border: 0;
            input {
                width: calc(100% - 22px - 15px);
                height: 45px;
                padding: 5px 10px;
                border: 1px solid $select;
                border-radius: 15px;
                &::placeholder {
                    color: $select;
                }   
            }
            &.active {
                background: transparent;
                box-shadow: none;
                .check {
                    background-color: $btn-color;
                    img {
                        opacity: 1;
                    }
                }
            }
        }
        &.select-machine {
            width: 100%;
            
            label {
                width: 35px;
            }
            input {
                width: calc(100% - 22px - 15px - 35px);
               
            }
        }
    }
    &-small {
        .select_item {
            margin-right: 5px;
            margin-bottom: 10px;
            padding: 7px 15px;
            span {
                font-size: 14px;
                color: $gray;
            }
            &.active {
                span {
                    color: #fff;
                }
            }
        }
    }
    &-deep {
        .select_item {
            border-color: $select2;
            span {
                color: $select2;
            }
            &.active {
                border: 0;
            }
        }
    }
}


.check {
    width: 22px;
    height: 22px;
    border-radius: 8px;
    border: 1px solid $select;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 80%;
        opacity: 0;
        transition: $transition-common;
    }
}

.machine {
    &_data {
        background-color: $purple;
        border-radius: 20px;
        padding: 15px;
        margin-bottom: 15px;
        &_name {
            color: $blue2;
            font-size: 18px;
            margin: 0 10px 0 0;
        }
        &.abnormal {
            border: 2px solid $abnormal;
        }
        &.custom {
            border: 2px solid $custom;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &_state {
            &.abnormal {
                label {
                    color: $abnormal;
                }
                &.active {
                    .check {
                        background-color: $abnormal;
                        border-color: transparent;
                        img {
                            opacity: 1;
                        }
                    }
                    span {
                        color: $abnormal;
                    }
                }
            }
            &.custom {
                label {
                    color: $custom;
                }
                &.active {
                    .check {
                        background-color: $custom;
                        border-color: transparent;
                        img {
                            opacity: 1;
                        }
                    }
                    span {
                        color: $custom;
                    }
                }
            }
            &_show {
                cursor: pointer;
            }
            &_hide {
                display: none;
            }
        }
    }
    &-arrow {
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: $transition-common;
        img {
            width: 50%;
        }
        &.active {
            transform: rotate(90deg);
        }
    }
    &-delete {
        cursor: pointer;
        width: 22px;
    }
    &_hide {
        margin-top: 20px;
        display: none;
    }
    &-pic {
        &_box {
            width: 70px;
            height: 70px;
            border-radius: 10px;
            margin-right: 10px;
            margin-bottom: 10px;
            overflow: hidden;
            cursor: pointer;
            span {
                position: absolute;
                color: #fff;
                text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
                bottom: 5px;
                left: 8px;
                font-size: 13px;
            }
        }
        &_mask {
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 64.35%, rgba(0, 0, 0, 0.61) 100%);
            top: 0;
            left: 0;
        }
    }
    &_pic {
        &-upload {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0x;
            }
            .pic {
                width: 80px;
                height: 80px;
                border-radius: 10px;
                overflow: hidden;
                background-color: #DCDEEB;
                margin-bottom: 10px;
                .plus {
                    width: 20px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
                input {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    opacity: 0;
                }
            }
            .select {
                width: calc(100% - 80px);
                padding-left: 15px;
            }
        }
        &-delete {
            position: absolute;
            width: 15px;
            top: 5px;
            left: 5px;
            display: none;
        }
        &-main {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
            display: none;
        }
    }
    input,select,textarea {
        border-color: #D7DAE9;
        background-color: #fff;
    }
    .check {
        border-color: #D7DAE9;
        background-color: #fff;
    }
}

.contact-box {
    position: fixed;
    width: 100vw;
    left: 0;
    bottom: 80px;
    &_link {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        margin: 0 10px;
        cursor: pointer;
        img {
            width: 30px;
            display: block;
            margin: 0 auto 5px;
        }
        p {
            margin: 0;
            text-align: center;
            color: $title;
            width: 100%;
            font-size: 13px;
        }
    }
}

.fixed-btn {
    position: fixed;
    bottom: 200px;
    background-color: $yellow-bg;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 15px 8px;
    z-index: 50;
    right: inherit;
    left: calc((100vw + 768px)/2);
    border-radius: 20px;
    &_link {
        margin-bottom: 15px;
        cursor: pointer;
        &:last-child {
            margin-bottom: 0;
        }
        p {
            text-align: center;
            margin: 0;
            color: $brown;
            font-size: 12px;
        }
        &.active {
            .fixed-btn_icon {
                path {
                    fill: $btn-color;
                }
            }
            p {
                color: $btn-color;
            }
        }
    }
    &_icon {
        width: 30px;
        display: block;
        margin: 0 auto 5px;
    }
}


@media screen and (max-width:940px) {
    .fixed-btn {
        right: 0;
        left: inherit;
        border-radius: 20px 0 0 20px;
    }
}

@media screen and (max-width:575px) {
    .header {
        &-login {
            padding: 20px;
        }
    }

    .logo {
        &-login {
            width: 130px;
        }
    }
    
    .login {
        &-bg {
            background-image: url(/public/img/login-bg-mobile.png);
        }
        &_text {
            padding: 80px 20px 0;
            h1 {
                margin-bottom: 25px;
            }
        }
        &_btn {
            background-color: rgba(255, 255, 255, 0.65);
            border: 0;
        }
        &_input {
            width: 100%;
            max-width: 280px;
            &_content {
                label {
                    // width: 280px;
                    width: 100%;
                    margin-bottom: 20px;
                }
                input {
                    width: 200px;
                    &.short {
                        // width: 227px;
                        width: calc(100% - 53px);
                    }
                }
                #count {
                    width: 53px;
                    text-align: right;
                    margin: 0;
                }
            }
            &_bottom {
                width: 280px;
            }
        }
    }

    .case {
        &_content {
            h3 {
                width: 100%;
            }
        }
        &_btn {
            width: 100%;
            margin-top: 5px;
            a {
                margin-left: 10px;
            }
        }
        &-state {
            .case {
                &_content {
                    h3 {
                        width: calc(100% - 60px);
                        padding-right: 0;
                    }
                }

            }
        }
    }
}

@media screen and (max-width:414px) {
    .list {
        &-social {
            &_content {
                .select {
                    width: 100%;
                    margin-top: 5px;
                }
            }
        } 
    } 
}