.manager-home {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.search {
    max-width: 640px;
    width: 100%;
    .input-box {
        border: 1px solid #7CDEFF;
        background-color: #fff;
        box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.15);
    }
    select {
        width: 200px;
    }
    .input-box {
        width: calc(100% - 200px - 15px);
        border-radius: 15px;
        input {
            width: calc(100% - 40px);
            border: 0;
            padding-right: 0;
        }
        button {
            padding: 0;
            width: 40px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 20px;
            }
        }
    }
}

#calendar {
    button {
        background-color: transparent;
        border: 1px solid #7A939D;
        color: #7A939D;
        border-radius: 15px;
        transition: $transition-common;
        padding: 10px 20px;
        span {
            color: #7A939D;
            transition: $transition-common;
        }
    }
    .fc-timeGridDay-button,.fc-timeGridWeek-button {
        margin-left: 10px;
    }
    .fc-button-active {
        background: $btn-active;
        border: 0;
        color: #fff;
        font-weight: 600;
    }
    .fc-next-button,.fc-prev-button {
        padding: 8px 15px;
    }
    .fc-prev-button {
        margin-right: 10px;
    }
    .fc-theme-standard {
        td, th, .fc-scrollgrid {
            border: 1px solid #99B5C0;
        }
    } 
    .fc-col-header-cell-cushion {
        color: #1B94D3;
        font-weight: 600;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .fc-daygrid-day-number {
        color: #0B5C85;
    }
}

.search-month {
    width: 200px;
}

.technic-money {
    background: linear-gradient(86.11deg, rgba(230, 246, 255, 0) 0%, #E6F6FF 99.71%);
    box-shadow: inset 0px 1px 12px #BCD2DA;
    border-radius: 20px;
    position: relative;
    padding: 15px;
    .money-title {
        position: absolute;
        color: #709EB6;
        font-size: 15px;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
    }
    p {
        color: $title;
        font-size: 36px;
        font-weight: 500;
        margin: 0;
        text-align: center;
    }
}

.manage-case {
    &_arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        transition: $transition-common;
        cursor: pointer;
        img {
            width: 8px;
        }
        &.active {
            transform: rotate(90deg);
        }
    }
    &_link {
        width: 65px;
    }
    &_title {
        width: calc(100% - 65px) !important;
    }
    &_hide {
        display: none;
    }
}


@media screen and (max-width:1000px) {
    .manage-top {
        .search {
            margin-bottom: 20px;
        }
        .btn-box {
            margin-left: auto;
            width: 100%;
        }
    }
}

@media screen and (max-width:575px) {
    .manage-top {
        .search {
            margin-bottom: 20px;
            select {
                width: 100%;
                margin-bottom: 15px;
            }
            .input-box {
                width: 100%;
            }
        }
        .btn-box {
            margin-left: auto;
            width: 100%;
        }
    }
    #calendar {
        button {
            padding: 10px 15px;
            font-size: 13px;
        }
        .fc-timeGridDay-button,.fc-timeGridWeek-button {
            margin-left: 5px;
        }
        .fc-next-button,.fc-prev-button {
            padding: 10px;
        }
        .fc-toolbar-title {
            font-size: 22px;
        }
        .fc-toolbar {
            &.fc-header-toolbar {
                flex-wrap: wrap;
                .fc-toolbar-chunk {
                    &:nth-child(1) {
                        order: 2;
                    }
                    &:nth-child(2) {
                        order: 1;
                        width: 100%;
                        h2 {
                            text-align: center;
                            margin-bottom: 30px;
                        }
                    }
                    &:nth-child(3) {
                        order: 3;
                    }
                }
            }
        } 
    }
}

#abnormal {
    .modal-dialog {
        max-width: 800px;
        // overflow-x: auto;
    }
    .modal-body {
        overflow-x: auto;
    }
}

.abnormal-table {
    min-width: 575px;
    width: 100%;
    text-align: center;
    overflow-x: auto;
    tr {
        width: 100%;
    }
    td {
        white-space: nowrap;
    }
    &_title {
        background-color: #E2F8FF;
        padding: 10px;
        width: 100%;
        color: $blue;
        td {
            padding: 10px 0;
        }
    }
    &_content {
        // width: calc((100% - 45px - 60px)/5) !important;
        width: 17%;
    } 
    &_main {
        background-color: #F7F7F7;
        .area {
            background-color: #DBE7EC;
            color: $blue;
        }
        td {
            padding: 5px 0;
        }
    }
    table {
        width: 100%;
    }
    .area {
        // width: 45px;
        width: 5%;
        -webkit-writing-mode: vertical-rl;  
        writing-mode: vertical-rl;
    }
    .name {
        // width: 60px;
        width: 10%;
    }
}

#technician {
    .modal-dialog {
        max-width: 600px;
    }
    .select {
        &_class {
            padding: 15px 20px;
            border-radius: 20px;
            margin-bottom: 15px;
            &:first-child {
                background-color: #F4FBFE;
            }
            &:nth-child(2) {
                background-color: #FAFAFA;
            }
        }
        &_item {
            border-color: #ABBCC3;
            color: #87969B;
            margin-bottom: 0;
            &.active {
                border: 0;
            }
        }
    }
}